extends layout 

block content 
  h1=user.first_name + "'s Feed"
  if user.friends && user.friends.length > 0 && friendPosts.length > 0
    h2 What your friends have been up to:
    each postObj in friendPosts
        h3
          a(href=postObj.friendUrl)  #{postObj.friendFullname}
        p #{postObj.post.text}, #{postObj.post.date_last_updated_local}
  if user.posts && user.posts.length > 0
    h2 What you've been up to: 
    each post in user.posts 
      p #{post.text}, #{post.date_last_updated_local}