extends layout 

block content 
  .profileContent
  
    //----------- PROFILE HEADER -------------
    .profileHeader 
      
      //- Upload profile pic form
      if newProfilePic 
          .modalContainer
            form(
              class="modalContent" 
              action="/profile/" + currentUser._id + "/edit-profile-picture" 
              method="POST" 
              enctype="multipart/form-data"
            )
              a(class="backButton" href="/profile/" + currentUser._id +"/posts") âœ–ï¸
              label(class="modalHeader" for="profilePic") Upload your picture 
              input(type="file" name="profilePic" accept="image/png, image/jpeg" required)
              button.button Submit
              

      .profilePicContainer
        if profile.profilePic 
          //- Display binary image
          img(
            class="profilePic"
            src=`data:${profile.profilePic.img.contentType};base64,${Buffer.from(profile.profilePic.img.data).toString("base64")}`, 
            alt=profile.profilePic.altText)
      
      .profileNameAndBio
        .profileFullname
          h1.userFullName= user.fullname   
        .profileBioContainer
          if profile.bio 
            p.profileBio= profile.bio
        .profileHeaderEditButtons 
          - if (currentUser._id.toString() === user._id.toString())
              a(class="editProfile" href="/profile/" + currentUser._id + "/edit-profile-picture") 
                img(class="editIcon" src="/images/edit.png", alt="Edit profile picture")
                | Profile Picture
              a(class="editProfile" href="/profile/" + currentUser._id + '/edit-profile-bio') 
                img(class="editIcon" src="/images/edit.png", alt="Edit profile picture")
                | Bio
    
    //----------- PROFILE TAB CONTENT -------------
    .profileTabs
      .tabHeaders
        a(
          class=(tab === "posts" ? "tabHeader clickedTab" : "tabHeader") 
          href="/profile/" + user._id + "/posts"
          ) Posts
        a(
          class=(tab === "friends" ? "tabHeader clickedTab" : "tabHeader")
          href="/profile/" + user._id + "/friends"
          ) Friends
        a(
          class=(tab === "photos" ? "tabHeader clickedTab" : "tabHeader")
          href="/profile/" + user._id + "/photos"
          ) Photos

      //----------- Posts Tab -------------
      if (tab === "posts")
        .profilePosts.tabContent
          
          if newPostForm 
            a(href=profile.url) X 
            form(action="/profile/" + currentUser._id + "/posts/create-post" method="POST")
              label(for="text") Your Message 
              textarea(name="text", cols="30", rows="10")
                //-  Media to come
              button Submit
            
          //- Regular posts tab, if there are posts
          if (!deletePosts && user.posts.length > 0 && !newPostForm)
            if user.posts.length > 0
              each post in user.posts
                .postCard
                  if (deletePosts)
                    .postCheckboxContainer
                      input.deletePostCheckbox(type="checkbox") 
                  .postContent
                    p.postText= post.text
                    p.postDate Posted: #{post.date_last_updated_local}
          //- If there are no posts
          if (!deletePosts && user.posts.length === 0 && !newPostForm)
            p.noContentMessage No posts yet ðŸ¤«
            
          //- Delete posts
          if (deletePosts && currentUser._id.toString() === user._id.toString())
            a(href="/profile/" + currentUser._id + "/posts/") Cancel
            form(action="/profile/" + currentUser._id + "/posts/delete-posts", method="POST")
              if user.posts.length > 0
                button Submit
                each post in user.posts
                  .postCard
                    .postCheckboxContainer
                      input.deletePostCheckbox(type="checkbox" id=post._id name="postID" value=post._id) 
                    .postContent
                      p.postText= post.text
                      p.postDate Posted: #{post.date_last_updated_local}

          .tabEditButtonContainer
            - if (currentUser._id.toString() === user._id.toString()) 
              a.tabEditButton(href="/profile/" + currentUser._id + "/posts/create-post") 
                img(class="editIcon" src="/images/edit.png", alt="Create New Post")
                | Create new post
              if (!deletePosts && user.posts.length > 0 && !newPostForm)
                a.tabEditButton(href="/profile/" + currentUser._id + "/posts/delete-posts") 
                  img(class="editIcon" src="/images/trash.png", alt="Delete posts")
                  | Delete posts      

      //----------- Friends Tab -------------
      if (tab === "friends")
        if (!newFriendForm)
          .profileFriends.tabContent
            - if (currentUser._id.toString() === user._id.toString() && !deleteFriends)
              a(href="/profile/" + currentUser._id + "/friends/add-friend-form") Add a friend
              if user.friends.length > 0
                a(href="/profile/" + currentUser._id + "/friends/remove-friends") Remove friends
            
            //- Regular friend list display
            if user.friends.length > 0 && !deleteFriends
              each friend in user.friends 
                a.friendLink(href=friend.url) #{friend.fullname}
            
            //- Remove friends form
            if user.friends.length > 0 && deleteFriends && currentUser._id.toString() === user._id.toString()
              a(href="/profile/" + currentUser._id + "/friends/") Cancel
              form(action="/profile/" + currentUser._id + "/friends/remove-friends" method="POST")
                button Submit
                each friend in user.friends
                  .friendCard 
                    input(type="checkbox" id=friend._id name="friendID" value=friend._id)
                    label(for=friend._id) #{friend.fullname}
      
      //----------- Photos Tab -------------
      if (tab === "photos")
        .profileMedia.tabContent 
          //- Add new photos
          if newMediaForm 
            .modalContainer
              form(class="modalContent" action="/profile/" + currentUser._id +"/photos/add-photos" method="POST" enctype="multipart/form-data") 
                label(for="profilePic") Upload your picture
                input(type="file" name="profileMedia" accept="image/png, image/jpeg" required)
                button Submit
                a(class="editCancelBtn" href="/profile") Cancel
          
          //- Display current photos
          if profile.media 
            each img in profile.media 
              img(
              class="profileMediaPic"
              src=`data:${img.img.contentType};base64,${Buffer.from(img.img.data).toString("base64")}`, 
              alt=img.altText)
          - if (currentUser._id.toString() === user._id.toString() && !deletePhotos)
            a(href="/profile/" + currentUser._id +"/photos/add-photos") Add photos
            if profile.media
              a(href="/profile/" + currentUser._id + "/photos/delete-photos") Delete photos
