extends layout 

block content 
  .profileContent
  
    //----------- PROFILE HEADER -------------
    .profileHeader 
      
      if newProfilePic 
          .modalContainer
            form(class="modalContent" action="/profile/" + currentUser._id + "/edit-profile-picture" method="POST" enctype="multipart/form-data")
              label(for="profilePic") Upload your picture 
              input(type="file" name="profilePic" accept="image/png, image/jpeg" required)
              button.button Submit
              a(class="editCancelBtn button" href="/profile") Cancel

      .profilePicContainer
        if profile.profilePic 
          //- Display binary image
          img(
            class="profilePic"
            src=`data:${profile.profilePic.img.contentType};base64,${Buffer.from(profile.profilePic.img.data).toString("base64")}`, 
            alt=profile.profilePic.altText)
          - if (currentUser._id.toString() === user._id.toString())
            a(class="editProfilePic" href="/profile/" + currentUser._id + "/edit-profile-picture")
              img(class="editIcon" src="/images/edit.png", alt="Edit profile picture")
        else if (currentUser._id.toString() === user._id.toString())
            a(class="editProfilePic" href="/profile/" + currentUser._id + "/edit-profile-picture") Add a profile picture
      
      .profileNameAndBio
        h1.userFullName= user.fullname   
        .profileBioContainer
          if profile.bio 
            p= profile.bio
            - if (currentUser._id.toString() === user._id.toString())
              a(class="editProfileBio" href="/profile-bio-edit")
                img(class="editIcon" src="/images/edit.png", alt="Edit profile bio")
          else
            - if (currentUser._id.toString() === user._id.toString())
              a(href="/profile-edit") Add a bio 
    
    //----------- PROFILE TAB CONTENT -------------
    .profileTabs
      .tabHeaders
        a(
          class=(tab === "posts" ? "tabHeader clickedTab" : "tabHeader") 
          href="/profile/" + user._id + "/posts"
          ) Posts
        a(
          class=(tab === "friends" ? "tabHeader clickedTab" : "tabHeader")
          href="/profile/" + user._id + "/friends"
          ) Friends
        a(
          class=(tab === "photos" ? "tabHeader clickedTab" : "tabHeader")
          href="/profile/" + user._id + "/photos"
          ) Photos

      //----------- Photos Tab -------------
      if (tab === "photos")
        .profileMedia 
          if newMediaForm 
            .modalContainer
              form(class="modalContent" action="/profile/" + currentUser._id +"/add-profile-media" method="POST" enctype="multipart/form-data") 
                label(for="profilePic") Upload your picture
                input(type="file" name="profileMedia" accept="image/png, image/jpeg" required)
                button Submit
                a(class="editCancelBtn" href="/profile") Cancel
          if profile.media 
            each img in profile.media 
              img(
              class="profileMediaPic"
              src=`data:${img.img.contentType};base64,${Buffer.from(img.img.data).toString("base64")}`, 
              alt=img.altText)
          - if (currentUser._id.toString() === user._id.toString())
            a(href="/profile/" + currentUser._id +"/add-profile-media") Add some photos

      //----------- Friends Tab -------------
      if (tab === "friends" && !newFriendForm)
        .profileFriends
          - if (currentUser._id.toString() === user._id.toString())
            a(href="/profile/" + currentUser._id + "/friends/add-friend-form") Add a friend 
          if user.friends.length > 0
            each friend in user.friends 
              a.friendLink(href=friend.url) #{friend.fullname}
      if (tab === "friends" && newFriendForm)
        //- Form to search for friend, then add friend
        h1 Look up a friend 
        h3= errorMsg
        form(action="profile/" + currentUser._id + "friends/search-friend" method="POST")
          label(for="first_name") First name 
          input(name="first_name" placeholder="first name" type="text")
          label(for="last_name") Last name 
          input(name="last_name" placeholder="last name" type="text")
          h3 OR
          label(for="username") Email
          input(name="username" placeholder="email" type="email")
          button Submit

        if foundUsers && foundUsers.length > 0
          form(action="profile/" + currentUser._id + "friends/add-friend" method="POST")
            each foundUser in foundUsers 
              label(for=foundUser.username) #{foundUser.fullname}
              input(name=foundUser.username value=foundUser._id type="checkbox") 
            button Add friend  

      //----------- Posts Tab -------------
      if (tab === "posts")
        .profilePosts
          - if (currentUser._id.toString() === user._id.toString()) 
            a(href="/create-post") Create new post
          if user.posts.length > 0
            each post in user.posts
              .postCard 
                p.postText= post.text
                p.postDate Last Updated: #{post.date_last_updated_local}
          if newPostForm 
            a(href=profile.url) X 
            form(action="/create-post" method="POST")
              label(for="text") Your Message 
              textarea(name="text", cols="30", rows="10")
                //-  Media to come
              button Submit